# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
mysql/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode specific settings (if not meant to be shared)
.vscode/

# Logs and debug files
*.log
